:root {
  --black: #000000;
  --brand-color: #f6e145;
  --white: #ffffff;
  --title-gray: #757575;
  --background-hero: #2f303a;
  --background: #f5f4fa;
  --border: #eeeeee;
  --brand-black: #212121;
  --icons: #afb1b8;
}
