@import "../../index.scss";

.main_wrapper {
  width: 100%;
  padding: 20px;
}

.table_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plus_button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: inherit;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  padding: 10px;
  border: 1px solid #2a2a2a;
}
