@import "../../index.scss";

.main_wrapper {
  width: 100%;
  padding: 20px;
}

.table_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plus_button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: inherit;
}

.filter_wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
  margin-bottom: 20px;
}

.filter_label {
  display: flex;
  gap: 10px;
}
