@import "../../index.scss";

.sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  border-right: solid 1px black;
  padding: 50px 20px;
  transition: opacity 0.3s ease, width 0.3s ease;
  width: 91px;
  transition: width 0.3s ease;
  justify-content: space-between;
}

.sidebar_big {
  width: 146px;
}

.nav_text {
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 10px;

  &:hover,
  &:focus {
    color: var(--brand-color);
  }
}

.icon_arrow {
  width: 20px;
  height: 20px;
  transition: rotate 0.3s ease;
}

.is_active {
  rotate: 180deg;
}

.text_shown {
  visibility: hidden;
  width: 0;
  height: 0;
  transition: width 0.3s ease;
}

.text_visible {
  visibility: visible;
  height: auto;
  width: auto;
}

.sidebar_button {
  position: absolute;
  right: 0;
  top: 20px;
  background-color: var(--white);

  transform: translate(50%);
  border-radius: 50%;

  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
}

.nav_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
