@import "../../index.css";

.sidebar {
  display: flex;
  flex-direction: column;
  border-right: solid 1px black;
  padding: 20px;
}

.nav_text {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon_arrow {
  width: 20px;
  height: 20px;
}
