@import "../node_modules/modern-normalize/modern-normalize.css";

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

td {
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.container {
  min-height: 100vh;
  display: flex;
  background-color: #f5f5f5;
}

.dark_theme {
  background-color: #4f4f4f;
  color: #f5f5f5;
}
